<%- include('./head.ejs') %>
    <title>Document</title>
</head>
<body>
    <main class="row mx-2">
        <%- include('./sideBar.ejs') %>
        <div class="col-md-12 text-center py-4" style="background-color: #F5F5F9; min-height: 100vh;">
            <div>
                <h2>View and change the banners</h2>
            </div>
            <form class="row" method="post" action="/admin/banners/updateBanners" enctype="multipart/form-data">
                <% banner?.images.forEach(image =>{%>
                    <div class="col-md-5 m-3">
                        <h6>banner <%= banner.images.indexOf(image)+1 %></h6>
                        <img class="img-fluid" src="/images/<%= image.filename %>" alt="">
                        <a href="/admin/banner/deleteBanner/<%= image.filename %>" class="btn btn-danger btn-sm mt-2">Delete</a>
                    </div>
                <%}) %>
                
                <div class="d-flex justify-content-center my-4">
                    <%for(let i=0;i<4-banner?.images.length;i++){%>
                    <input type="file" name="banner">
                    <% } %>
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-secondary w-50" type="submit">Upload</button>
                </div>
            </form>
        </div>
    </main>
<%- include('./foot.ejs') %>